# Enforce LF line endings
* text=auto eol=lf

# Go
*.go text eol=lf diff=golang
*_gen.go linguist-generated=true

# Dependencies
go.sum linguist-generated=true

# Documentation
*.md text eol=lf diff=markdown
LICENSE text eol=lf

# Config
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
Makefile text eol=lf
